* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 900;
}
.wrap {
    height: 100%;
    width: 100%;
    background-image:url("/img/register/rogin.jpg");
    background-position:center;
    position: absolute;
}
.form-wrap {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-wrap {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #e874cd;
    border-radius: 30px;
    
}
.togglebtn { 
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: 900;
    
}
.header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
  }
  
  .header_area .navbar-right {
    min-width: 200px;
    text-align: right;
    padding: 100px 0;
  }
  
  @media (max-width: 991px) {
    .header_area .navbar-right {
      margin: 20px 0;
    }
  }
  
  .header_area .navbar-brand {
    margin-left: 50px;
    margin-right: 30px;
    padding: 0;
    text-align: center;
    padding: 100px 0;
    line-height: 100px;
  }
  
  .header_area .navbar-social {
    min-width: 95px;
    float: right;
    padding: 100px 0;
  }
  .navbar-brand{ font-family: "Roboto Condensed", sans-serif;}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: #2a2a2a;
  line-height: 1.25;
  text-align: center;
  padding: 100px 0 ;
}

h1,
.h1 {
  font-size: 50px;
}

  
  .header_area .navbar-social li {
    margin-right: 12px;
  }
  
  .header_area .navbar-social li i, .header_area .navbar-social li span {
    font-size: 13px;
  }
  
  .header_area .navbar-social li:last-child {
    margin-right: 0;
  }
  
  /* .header_area .navbar-social li a:hover i, .header_area .navbar-social li span {
    color: #5986f6;
  } */
  
  .header_area .menu_nav {
    width: 100%;
    padding: 100px 0;
  }
  
  .header_area .navbar {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    padding-top: 0;
    padding: 100px 0;
    padding-bottom: 0;
  }
  
  .header_area .navbar .nav-right {
    min-width: 260px;
    
  }
  
  .header_area .navbar .nav .nav-item {
    margin-right: 35px;
    
  }
  
  .header_area .navbar .nav .nav-item .nav-link {
    font-family: "Roboto", sans-serif;
    color: #2a2a2a;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    padding: 100px 0;
    display: inline-block;
    
  }
  
  .header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
  }
  
  .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #2a2a2a;
    opacity: 1;
  }
  
  .header_area .navbar .nav .nav-item.submenu {
    position: relative;
  }
  
  .header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
  }
  
.navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .header_area .navbar {
    background: #d1cff4;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    font-family: "Roboto", sans-serif;
    color: #2a2a2a;
    text-transform: capitalize;
    font-weight: 500;
    padding: 33px 0;
    display: inline-block;
  }
.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #2a2a2a;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  } 
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#5976f6, #5c72d3);
    border-radius: 30px;
    transition: .5s;
    
}
/* .social-icons {
    margin: 30px auto;
    text-align: center;
} */
/* .social-icons img {
    width: 30px ;
    cursor: pointer;
} */
.input-group {
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #5976f6, #5c72d3);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-weight: 900;
}
.checkbox {
    margin: 30px 10px 30px 0;
}
span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}

.navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }